/* Elements */
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box; !important /* So that border calculation is factored into size */
}

/* IDs */
#header {
  border: 1px solid lightgrey;
}

#content {
  display: flex;
  margin-top: 15px;
  border: 1px solid lightgrey;
}

#canvas-container {
  padding: 50px;
  background: grey;
  text-align: center;
}

#controls-container {
  background: #4375c6;
}

#canvas {
  background: white;
}

/* Classes */
.button {
  background: green;
  padding: 15px;
  color: white;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

.label {

}

.textbox {
  width: 100%;
  text-align: center;
}

/* Grid System */
.container {
  width: auto;
}

.grid {
  width: auto;
  padding: 10px;
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*='col-'] {
  float: left;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

/* Utilities */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }

.float-left { float: left; }
.float-right { float: right; }
.clear-float { clear: both; }
