#header {
  border: 1px solid lightgrey;
}

#content {
  margin-top: 5px;
  border: 1px solid lightgrey;
}

#canvas-container {
  width: 75%;
  padding: 2.5%;
  background: red;
}

#controls-container {
  width: 15%;
  padding: 2.5%;
  background: green;
}

#canvas {

}

.button {

}

.pull-left {
 float: left;
}

.clearfix {
  clear: both;
}

.text-center {
  text-align: center;
}
